/*
 Author: Jacob Williams
 Purpose: defines style and positions for html 
*/

body{
  font-style: Courier;
}

#sidebar{
  background-color: #26c2ce;
  width: 20%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#caesar_cipher{
  background-color: #fe690a;
  width: 80%;
  height: 50%;
  position: fixed;
  top: 0;
  right: 0;
}

#square_cipher{
  background-color: #ecd36b;
  width: 80%;
  height: 50%;
  position: fixed;
  bottom: 0;
  right: 0;
}

#name{
  font-style: impact;
  font-size: 60px;
  text-align: center;
  color: #c22854;
}

#input_fields{
  text-align: center;
}

#input_fields input{
  text-align: center;
  width: 80%;
  margin-bottom: 25px;
}

#input_fields button{
  text-align: center;
  width: 80%;
  margin-bottom: 25px;
}

#sqaure{
  text-align: center;
}
#square table{
  font-size: 30px;
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border: solid 5px #c22854;
  border-collapse: collapse;
}

#square td{
  border: solid 5px #c22854;
  padding: 10px;
}

.cipher{
  font-size: 50px;
  text-align: center;
}
